.text-transparent {
  color: transparent;
}
.text-current {
  color: currentColor;
}
.text-black {
  color: var(--clr-black);
}
.text-white {
  color: var(--clr-white);
}
.text-primary {
  color: var(--clr-primary);
}
.text-secondary {
  color: var(--clr-secondary);
}
.text-accent {
  color: var(--clr-accent);
}
.text-error {
  color: var(--clr-error);
}
.text-success {
  color: var(--clr-success);
}
.text-warning {
  color: var(--clr-warning);
}
.text-gray-50 {
  color: var(--clr-gray-50);
}
.text-gray-100 {
  color: var(--clr-gray-100);
}
.text-gray-200 {
  color: var(--clr-gray-200);
}
.text-gray-300 {
  color: var(--clr-gray-300);
}
.text-gray-400 {
  color: var(--clr-gray-400);
}
.text-gray-500 {
  color: var(--clr-gray-500);
}
.text-gray-600 {
  color: var(--clr-gray-600);
}
.text-gray-700 {
  color: var(--clr-gray-700);
}
.text-gray-800 {
  color: var(--clr-gray-800);
}
.text-gray-900 {
  color: var(--clr-gray-900);
}
