.justify-self-auto {
  justify-self: auto;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-stretch {
  justify-self: stretch;
}

@media (min-width: 640px) {
  .sm\:justify-self-auto {
    justify-self: auto;
  }
  .sm\:justify-self-start {
    justify-self: start;
  }
  .sm\:justify-self-end {
    justify-self: end;
  }
  .sm\:justify-self-center {
    justify-self: center;
  }
  .sm\:justify-self-stretch {
    justify-self: stretch;
  }
}
@media (min-width: 768px) {
  .md\:justify-self-auto {
    justify-self: auto;
  }
  .md\:justify-self-start {
    justify-self: start;
  }
  .md\:justify-self-end {
    justify-self: end;
  }
  .md\:justify-self-center {
    justify-self: center;
  }
  .md\:justify-self-stretch {
    justify-self: stretch;
  }
}
@media (min-width: 1024px) {
  .lg\:justify-self-auto {
    justify-self: auto;
  }
  .lg\:justify-self-start {
    justify-self: start;
  }
  .lg\:justify-self-end {
    justify-self: end;
  }
  .lg\:justify-self-center {
    justify-self: center;
  }
  .lg\:justify-self-stretch {
    justify-self: stretch;
  }
}
@media (min-width: 1280px) {
  .xl\:justify-self-auto {
    justify-self: auto;
  }
  .xl\:justify-self-start {
    justify-self: start;
  }
  .xl\:justify-self-end {
    justify-self: end;
  }
  .xl\:justify-self-center {
    justify-self: center;
  }
  .xl\:justify-self-stretch {
    justify-self: stretch;
  }
}
@media (min-width: 1536px) {
  .\2xl\:justify-self-auto {
    justify-self: auto;
  }
  .\2xl\:justify-self-start {
    justify-self: start;
  }
  .\2xl\:justify-self-end {
    justify-self: end;
  }
  .\2xl\:justify-self-center {
    justify-self: center;
  }
  .\2xl\:justify-self-stretch {
    justify-self: stretch;
  }
}
