.justify-items-auto {
  justify-items: auto;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}

@media (min-width: 640px) {
  .sm\:justify-items-auto {
    justify-items: auto;
  }
  .sm\:justify-items-start {
    justify-items: start;
  }
  .sm\:justify-items-end {
    justify-items: end;
  }
  .sm\:justify-items-center {
    justify-items: center;
  }
  .sm\:justify-items-stretch {
    justify-items: stretch;
  }
}
@media (min-width: 768px) {
  .md\:justify-items-auto {
    justify-items: auto;
  }
  .md\:justify-items-start {
    justify-items: start;
  }
  .md\:justify-items-end {
    justify-items: end;
  }
  .md\:justify-items-center {
    justify-items: center;
  }
  .md\:justify-items-stretch {
    justify-items: stretch;
  }
}
@media (min-width: 1024px) {
  .lg\:justify-items-auto {
    justify-items: auto;
  }
  .lg\:justify-items-start {
    justify-items: start;
  }
  .lg\:justify-items-end {
    justify-items: end;
  }
  .lg\:justify-items-center {
    justify-items: center;
  }
  .lg\:justify-items-stretch {
    justify-items: stretch;
  }
}
@media (min-width: 1280px) {
  .xl\:justify-items-auto {
    justify-items: auto;
  }
  .xl\:justify-items-start {
    justify-items: start;
  }
  .xl\:justify-items-end {
    justify-items: end;
  }
  .xl\:justify-items-center {
    justify-items: center;
  }
  .xl\:justify-items-stretch {
    justify-items: stretch;
  }
}
@media (min-width: 1536px) {
  .\2xl\:justify-items-auto {
    justify-items: auto;
  }
  .\2xl\:justify-items-start {
    justify-items: start;
  }
  .\2xl\:justify-items-end {
    justify-items: end;
  }
  .\2xl\:justify-items-center {
    justify-items: center;
  }
  .\2xl\:justify-items-stretch {
    justify-items: stretch;
  }
}
