.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

@media (min-width: 640px) {
  .sm\:visible {
    visibility: visible;
  }
  .sm\:invisible {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .md\:visible {
    visibility: visible;
  }
  .md\:invisible {
    visibility: hidden;
  }
}
@media (min-width: 1024px) {
  .lg\:visible {
    visibility: visible;
  }
  .lg\:invisible {
    visibility: hidden;
  }
}
@media (min-width: 1280px) {
  .xl\:visible {
    visibility: visible;
  }
  .xl\:invisible {
    visibility: hidden;
  }
}
@media (min-width: 1536px) {
  .\2xl\:visible {
    visibility: visible;
  }
  .\2xl\:invisible {
    visibility: hidden;
  }
}
