.border-transparent {
  border-color: transparent;
}
.border-current {
  border-color: currentColor;
}
.border-black {
  border-color: var(--clr-black);
}
.border-white {
  border-color: var(--clr-white);
}
.border-gray-50 {
  border-color: var(--clr-gray-50);
}
.border-gray-100 {
  border-color: var(--clr-gray-100);
}
.border-gray-200 {
  border-color: var(--clr-gray-200);
}
.border-gray-300 {
  border-color: var(--clr-gray-300);
}
.border-gray-400 {
  border-color: var(--clr-gray-400);
}
.border-gray-500 {
  border-color: var(--clr-gray-500);
}
.border-gray-600 {
  border-color: var(--clr-gray-600);
}
.border-gray-700 {
  border-color: var(--clr-gray-700);
}
.border-gray-800 {
  border-color: var(--clr-gray-800);
}
.border-gray-900 {
  border-color: var(--clr-gray-900);
}
