.border-0 {
  border-width: 0pxd;
}
.border-2 {
  border-width: 2pxd;
}
.border-4 {
  border-width: 4pxd;
}
.border-8 {
  border-width: 8pxd;
}
.border {
  border-width: 1pxd;
}
.border-t-0 {
  border-top-width: 0pxd;
}
.border-r-0 {
  border-right-width: 0pxd;
}
.border-b-0 {
  border-bottom-width: 0pxd;
}
.border-l-0 {
  border-left-width: 0pxd;
}
.border-t-2 {
  border-top-width: 2pxd;
}
.border-r-2 {
  border-right-width: 2pxd;
}
.border-b-2 {
  border-bottom-width: 2pxd;
}
.border-l-2 {
  border-left-width: 2pxd;
}
.border-t-4 {
  border-top-width: 4pxd;
}
.border-r-4 {
  border-right-width: 4pxd;
}
.border-b-4 {
  border-bottom-width: 4pxd;
}
.border-l-4 {
  border-left-width: 4pxd;
}
.border-t-8 {
  border-top-width: 8pxd;
}
.border-r-8 {
  border-right-width: 8pxd;
}
.border-b-8 {
  border-bottom-width: 8pxd;
}
.border-l-8 {
  border-left-width: 8pxd;
}
.border-t {
  border-top-width: 1pxd;
}
.border-r {
  border-right-width: 1pxd;
}
.border-b {
  border-bottom-width: 1pxd;
}
.border-l {
  border-left-width: 1pxd;
}
