.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}
@media (min-width: 640px) {
  .sm\:offset-1 {
    margin-left: 8.3333333333%;
  }

  .sm\:offset-2 {
    margin-left: 16.6666666667%;
  }

  .sm\:offset-3 {
    margin-left: 25%;
  }

  .sm\:offset-4 {
    margin-left: 33.3333333333%;
  }

  .sm\:offset-5 {
    margin-left: 41.6666666667%;
  }

  .sm\:offset-6 {
    margin-left: 50%;
  }

  .sm\:offset-7 {
    margin-left: 58.3333333333%;
  }

  .sm\:offset-8 {
    margin-left: 66.6666666667%;
  }

  .sm\:offset-9 {
    margin-left: 75%;
  }

  .sm\:offset-10 {
    margin-left: 83.3333333333%;
  }

  .sm\:offset-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .md\:offset-1 {
    margin-left: 8.3333333333%;
  }

  .md\:offset-2 {
    margin-left: 16.6666666667%;
  }

  .md\:offset-3 {
    margin-left: 25%;
  }

  .md\:offset-4 {
    margin-left: 33.3333333333%;
  }

  .md\:offset-5 {
    margin-left: 41.6666666667%;
  }

  .md\:offset-6 {
    margin-left: 50%;
  }

  .md\:offset-7 {
    margin-left: 58.3333333333%;
  }

  .md\:offset-8 {
    margin-left: 66.6666666667%;
  }

  .md\:offset-9 {
    margin-left: 75%;
  }

  .md\:offset-10 {
    margin-left: 83.3333333333%;
  }

  .md\:offset-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1024px) {
  .lg\:offset-1 {
    margin-left: 8.3333333333%;
  }

  .lg\:offset-2 {
    margin-left: 16.6666666667%;
  }

  .lg\:offset-3 {
    margin-left: 25%;
  }

  .lg\:offset-4 {
    margin-left: 33.3333333333%;
  }

  .lg\:offset-5 {
    margin-left: 41.6666666667%;
  }

  .lg\:offset-6 {
    margin-left: 50%;
  }

  .lg\:offset-7 {
    margin-left: 58.3333333333%;
  }

  .lg\:offset-8 {
    margin-left: 66.6666666667%;
  }

  .lg\:offset-9 {
    margin-left: 75%;
  }

  .lg\:offset-10 {
    margin-left: 83.3333333333%;
  }

  .lg\:offset-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1280px) {
  .xl\:offset-1 {
    margin-left: 8.3333333333%;
  }

  .xl\:offset-2 {
    margin-left: 16.6666666667%;
  }

  .xl\:offset-3 {
    margin-left: 25%;
  }

  .xl\:offset-4 {
    margin-left: 33.3333333333%;
  }

  .xl\:offset-5 {
    margin-left: 41.6666666667%;
  }

  .xl\:offset-6 {
    margin-left: 50%;
  }

  .xl\:offset-7 {
    margin-left: 58.3333333333%;
  }

  .xl\:offset-8 {
    margin-left: 66.6666666667%;
  }

  .xl\:offset-9 {
    margin-left: 75%;
  }

  .xl\:offset-10 {
    margin-left: 83.3333333333%;
  }

  .xl\:offset-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1536px) {
  .\2xl\:offset-1 {
    margin-left: 8.3333333333%;
  }

  .\2xl\:offset-2 {
    margin-left: 16.6666666667%;
  }

  .\2xl\:offset-3 {
    margin-left: 25%;
  }

  .\2xl\:offset-4 {
    margin-left: 33.3333333333%;
  }

  .\2xl\:offset-5 {
    margin-left: 41.6666666667%;
  }

  .\2xl\:offset-6 {
    margin-left: 50%;
  }

  .\2xl\:offset-7 {
    margin-left: 58.3333333333%;
  }

  .\2xl\:offset-8 {
    margin-left: 66.6666666667%;
  }

  .\2xl\:offset-9 {
    margin-left: 75%;
  }

  .\2xl\:offset-10 {
    margin-left: 83.3333333333%;
  }

  .\2xl\:offset-11 {
    margin-left: 91.6666666667%;
  }
}
