.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-auto {
  z-index: auto;
}

@media only screen and (min-width: var(--small-screen-size)) {
  .sm\:z-0 {
    z-index: 0;
  }
  .sm\:z-10 {
    z-index: 10;
  }
  .sm\:z-20 {
    z-index: 20;
  }
  .sm\:z-30 {
    z-index: 30;
  }
  .sm\:z-40 {
    z-index: 40;
  }
  .sm\:z-50 {
    z-index: 50;
  }
  .sm\:z-auto {
    z-index: auto;
  }
}
@media only screen and (min-width: var(--medium-screen-size)) {
  .md\:z-0 {
    z-index: 0;
  }
  .md\:z-10 {
    z-index: 10;
  }
  .md\:z-20 {
    z-index: 20;
  }
  .md\:z-30 {
    z-index: 30;
  }
  .md\:z-40 {
    z-index: 40;
  }
  .md\:z-50 {
    z-index: 50;
  }
  .md\:z-auto {
    z-index: auto;
  }
}
@media only screen and (min-width: var(--large-screen-size)) {
  .lg\:z-0 {
    z-index: 0;
  }
  .lg\:z-10 {
    z-index: 10;
  }
  .lg\:z-20 {
    z-index: 20;
  }
  .lg\:z-30 {
    z-index: 30;
  }
  .lg\:z-40 {
    z-index: 40;
  }
  .lg\:z-50 {
    z-index: 50;
  }
  .lg\:z-auto {
    z-index: auto;
  }
}
